/* App */

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container */

.container {
  width: 736px;
  display: flex;
  flex-direction: column;
}

/* Form */

.container form {
  margin-top: -27px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.container form input {
  width: 100%;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  color: var(--gray-100);

  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
}

.container form input:focus {
  outline: none;
  border: 1px solid var(--purple-dark);
}

.container form input::placeholder {
  color: var(--gray-300);
}

/* Button */

.container form button {
  width: 100px;
  height: 100%;

  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: var(--gray-100);
  font-weight: 700;

  border-radius: 8px;
  border: none;
  background: var(--blue-dark);

  transition: background 0.2s ease-in-out;
}

.container form button:hover {
  cursor: pointer;
  background: var(--blue);
}

/* Tasks */

.container .tasks ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.container .tasks {
  margin-top: 64px;
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container .listTasks {
  overflow: auto;
}

.container .listTasks ul {
  margin-right: 10px;
}

.container .listTasks::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container .listTasks::-webkit-scrollbar-thumb {
  background: var(--gray-500);
  border-radius: 8px;
}

.container .tasks .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .tasks .info .counters {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container .tasks .info .counters span {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.container .tasks .info .counters:first-child span {
  color: var(--blue);
}

.container .tasks .info .counters:last-child span {
  color: var(--purple);
}

.container .tasks .info .counters .counter {
  color: var(--gray-200);
  font-size: 12px;
  font-weight: 700;

  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 999px;
  background: var(--Gray-400, #333);
}

/* Empty */

.container .tasks .empty {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 64px 24px;

  border-radius: 8px;
  border-top: 1px solid var(--Grey-400, #333);
}

.container .tasks .empty img {
  width: 56px;
  height: 56px;
}

.container .tasks .empty span {
  color: var(--gray-300);
  text-align: center;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
}

.container .tasks .empty span:last-child {
  font-weight: 400;
  margin-top: -8px;
}
